@media (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
  }
}
